.row h1 {
	text-align: center;
}

.card > img {
	display: block;
	margin: auto;
	width: 100%;
}

.category-header {
	text-align: center;
}

.pre-stat-text, .post-stat-text {
}

.big-number {
	font-size: 4em;
	text-align: center;
	font-family: Impact;
}

.big-number-container {
}

.chart-number {
	font-size: 2em;
	text-align: center;
}

.card {
	position: relative;
}

.card:hover {
	border-color: steelblue;
}

#page-title {
	text-align: center;
}

#pro_athletes img {
	width:  20px;
	height: 20px;
}

/* This selects the header (share icon) of each card. */
.panel>:first-child {
       margin-top: -20px;
       margin-left: -20px;
       margin-right: -20px;
       min-height: 40px;
}

.card header {
	height: 40px;
	background-color: lightgrey;
	margin-bottom: 1.4em;
}

.share-button div {
	height: 40px;
	width: 40px;
	float: right;
	padding-top: 8px;
	padding-right: 8px;
	background: url("../img/life/share_icon.png") no-repeat center;
}

.share_button_active div {
	background: url("../img/life/exit_icon.png") no-repeat center;
}

.share-icon {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 52px;
	height: 52px;
	background-color: #666;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.share-icon img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.share-icon-fb:hover {
	background: #3c5a98;
}

.share-icon-twitter:hover {
	background: #00bbf2;
}

.share-icon-gplus:hover {
	background: #f90101;
}

.module_share {
	position: absolute;
	top: 40px;
	left: 0px;
	display: block;
	width: 100%;
	background:#f2f2f2;
	padding:16px;
	color:#666;
	z-index:3;
	height:140px;
	text-align: center;
	display: none;
    border-bottom: solid 1px #111;
}

.module_share ul {
	list-style: none;
	padding: 16px 0;
}

.module_share ul li {
	display: inline-block;
	padding: 16px 0;
	margin-left: 5%;
	margin-right: 5%;
}

.share_this_on {
	margin-top: -5px;
	margin-bottom: 10px;
	text-align: justify;
}

/* CSS from https://github.com/alvarotrigo/fullPage.js/blob/master/examples/backgroundVideo.html */
#header-video{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: url('http://dailybruin.com/images/2015/06/life.png');/* our video */;
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:3;
}

@media screen and (max-device-width: 800px) {
	#video-header { background: url('http://dailybruin.com/images/2015/06/life-small.png') #000 no-repeat center center fixed; }
	#header-video { display: none; }
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#video-header .layer{
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;
}
/*solves problem with overflowing video in Mac with Chrome */
#video-header{
	overflow: hidden;
}

#form-selection{
	background-color: rgba(255,255,255,0.5);
}

footer {
	display: block;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.category-header {
	margin: .5em 0px;
}