.row h1 {
	text-align: center;
}

.card > img {
	display: block;
	margin: auto;
	width: 100%;
}

.category-header {
	text-align: center;
}

.pre-stat-text, .post-stat-text {
}

.big-number {
	font-size: 4em;
	text-align: center;
	font-family: Impact;
}

.big-number-container {
}

.chart-number {
	font-size: 2em;
	text-align: center;
}

.card {
}

.card:hover {
	border-color: steelblue;
}

#page-title {
	text-align: center;
}