/* line 6, ../scss/main.scss */
.slick div {
  background-color: black;
  height: 300px;
  border: 2px solid white;
}

/* line 13, ../scss/main.scss */
.dashboard-item {
  background-color: whitesmoke;
  height: 100px;
  padding: 0px 15px;
  border-bottom: 1px solid gray;
  overflow: hidden;
}
/* line 18, ../scss/main.scss */
.dashboard-item h1 {
  font-size: 1em;
}

/* line 24, ../scss/main.scss */
.dashboard-container {
  overflow: scroll;
  width: 100%;
}

/* line 30, ../scss/main.scss */
#container {
  min-height: 900px;
  width: 100%;
  position: absolute;
}

/* line 36, ../scss/main.scss */
#simple3D {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 900px;
}
/* line 42, ../scss/main.scss */
#simple3D div {
  min-height: 110%;
  width: 120%;
}
/* line 46, ../scss/main.scss */
#simple3D div.dot {
  background: url(../img/dot2.png);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
}

/* line 60, ../scss/main.scss */
section {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 67, ../scss/main.scss */
#banner {
  background: url(../img/banner.jpg);
  background-size: cover;
  height: 80%;
  width: 80%;
  position: relative;
  top: 20%;
}
/* line 79, ../scss/main.scss */
#banner h1 {
  z-index: 2;
  font-family: 'Helvetica', serif;
  font-weight: 900;
  font-size: 4rem;
  color: black;
  line-height: 75px;
  bottom: 10%;
  position: absolute;
  left: -8%;
  padding: 20px;
  background: white;
}

/* line 97, ../scss/main.scss */
.item {
  overflow: hidden;
  margin-bottom: 10px;
  margin-bottom: 0px;
  height: 175px;
}
/* line 102, ../scss/main.scss */
.item h6 {
  margin-top: 0;
}

/* line 111, ../scss/main.scss */
.item-overlay {
  top: -50%;
  position: relative;
  width: 100%;
  height: 300px;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -ms-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  transform: skew(-25deg);
}
/* line 118, ../scss/main.scss */
.item-overlay:hover .item-description {
  -webkit-transform: translateX(65%);
  -moz-transform: translateX(65%);
  -ms-transform: translateX(65%);
  -o-transform: translateX(65%);
  transform: translateX(65%);
}
/* line 122, ../scss/main.scss */
.item-overlay:hover {
  cursor: pointer;
}

/* line 130, ../scss/main.scss */
.item-description {
  padding: 10px;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(140%);
  -moz-transform: translateX(140%);
  -ms-transform: translateX(140%);
  -o-transform: translateX(140%);
  transform: translateX(140%);
  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -ms-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
}
/* line 146, ../scss/main.scss */
.item-description h6 {
  color: black;
  font-family: 'Lora', serif;
}

/* line 153, ../scss/main.scss */
.item-name {
  position: absolute;
  pointer-events: none;
  top: 60%;
  left: 0;
  right: 30%;
  background-color: white;
}
/* line 163, ../scss/main.scss */
.item-name h3 {
  padding: 5px 10px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* maybe delete this shit */
