/* line 3, ../scss/main.scss */
#container {
  min-height: 900px;
  width: 80%;
}

/* line 8, ../scss/main.scss */
#simple3D {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 900px;
}
/* line 14, ../scss/main.scss */
#simple3D div {
  min-height: 1100px;
  width: 120%;
}
/* line 18, ../scss/main.scss */
#simple3D div.dot {
  background: url(../img/dot2.png);
}
/* line 22, ../scss/main.scss */
#simple3D div.kinoco {
  background: url(../img/kinoco.png);
}
/* line 26, ../scss/main.scss */
#simple3D div.star {
  background: url(../img/star.png);
}

/* line 32, ../scss/main.scss */
section {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 39, ../scss/main.scss */
#banner {
  background: url("http://i.imgur.com/6Gh8Za9.jpg");
  height: 80%;
  width: 80%;
  position: relative;
  top: 20%;
}
/* line 49, ../scss/main.scss */
#banner h1 {
  font-family: 'Helvetica', serif;
  font-weight: 900;
  font-size: 4rem;
  color: black;
  line-height: 60px;
  bottom: 10%;
  position: absolute;
  left: -8%;
  padding: 20px;
  background: white;
}

/* line 67, ../scss/main.scss */
#highlights-row {
  height: 90%;
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
}
/* line 73, ../scss/main.scss */
#highlights-row ul {
  height: 90%;
}
/* line 78, ../scss/main.scss */
#highlights-row li {
  height: 30%;
  margin-bottom: 5%;
}

/* line 84, ../scss/main.scss */
#highlights-page h2 {
  margin-left: 10%;
  color: white;
}

/* line 89, ../scss/main.scss */
#highlights-0 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 95, ../scss/main.scss */
#highlights-1 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 101, ../scss/main.scss */
#highlights-2 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 107, ../scss/main.scss */
#highlights-3 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 113, ../scss/main.scss */
#highlights-4 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 119, ../scss/main.scss */
#highlights-5 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 125, ../scss/main.scss */
#highlights-6 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 131, ../scss/main.scss */
#highlights-7 {
  background: url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
