@import "compass";
@import "mixins";

// .slick {
// 	width: 100%;
// 	height: 100%;

// 	div {
// 		width: 200px;
// 		height: 50%;
// 	}
// }

.dashboard-item {
	background-color: whitesmoke;
	height: 100px; 
	padding: 0px 15px;
	border-bottom: 1px solid gray;
	h1 {
		font-size: 1em;
	}
	overflow: hidden; 
}

.dashboard-container {

	overflow: scroll;
	width: 100%;
}

#container {
  min-height: 900px;
  width: 100%;
  position: absolute;
}

#simple3D {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 900px;

  div {
    min-height: 110%;
    width: 120%;
	}
  div.dot {
    background: url(../img/dot2.png);
    @include vendorize(filter, grayscale(100%)); 
    opacity: 0.2;
  }

 //  div.star {
	//   background: url(../img/star.png);
 //    @include vendorize(filter, grayscale(100%)); 

	// }
  
}

section {
	height: 100%;
	width: 100%;
	position: relative;
}


#banner {
	// background:url("http://i.imgur.com/6Gh8Za9.jpg");
	background:url(../img/banner.jpg);
	background-size: cover;
	height: 80%;
	width: 80%; 

	// @include background-image(linear-gradient(to bottom right, white, #dddddd));

	position: relative;
	top: 20%;

	h1 {
		z-index: 2;
		font-family: 'Helvetica', serif; 
		font-weight: 900;
		font-size: 4rem;
		color: black;
		line-height: 75px;
		bottom: 10%;
		position: absolute;
		left: -8%;
		padding: 20px;
		background: white;


	}

}

.item {
	overflow:hidden;
	margin-bottom: 10px;
	margin-bottom: 0px;

	h6 {
		margin-top: 0;
	}
	height: 175px;
}




.item-overlay {
	top: -50%;
	position: relative;
	width: 100%;
	height: 300px;

	@include vendorize(transform, skew(-25deg));
	&:hover .item-description {
		@include vendorize(transform, translateX(65%));
	}

	&:hover {
		cursor: pointer;
	}
	// @include vendorize(opacity, 1);
	// top: 70%;
}


.item-description {
	padding: 10px;

	// background-color: rgba(255, 255, 255, 0.8);
	background-color: white;
  z-index: 1;
  position: absolute;


  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include vendorize(transform, translateX(140%));
  @include vendorize(transition, transform 350ms ease-in-out);

  h6 {
  	color: black;
  	font-family: 'Lora', serif; 
  }

}	

.item-name {
	position: absolute;
  pointer-events: none;
  // text-align: center;
  top: 60%;
  left: 0;
  right: 30%;
  // background-color: rgba(117, 234, 204, 0.46);
  background-color: white;

  h3 {
  	padding: 5px 10px;
  	color: black;
  	font-family: 'Montserrat', sans-serif;
  	text-transform: uppercase; 
  }
}





/* maybe delete this shit */


// #highlights-row {
// 	height: 90%;
// 	padding-top: 10%;
// 	padding-left: 3%;
// 	padding-right: 3%;

// 	ul {
// 		height: 90%;

// 	}

// 	li {
// 		height: 30%;
// 		margin-bottom: 5%;
// 	}
// }

// #highlights-page h2 {
// 	margin-left: 10%;
// 	color: white;
// }

// #highlights-0 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// #highlights-1 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// #highlights-2 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// #highlights-3 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// #highlights-4 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// #highlights-5 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// #highlights-6 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// #highlights-7 {
// 	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }