@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import "compass";
@import "mixins";

.slick {

	div {
		background-color: black;
		height: 300px;
		border: 2px solid white;
	}
}

// .top-bar {
// 	background-color: #454545;
// 	z-index: 100;

// }

// .top-bar-section ul li a {
// 	background-color: #454545;
// }

.dashboard-item {
	background-color: $smoke;
	height: 100px; 
	padding: 0px 15px;
	border-bottom: 1px solid whitesmoke;
	h1 {
		font-size: 1em;
	}
	overflow: hidden; 
}

.row.fullWidth {
	max-width: 100%;
	margin: 0;
}

.dashboard-active {
	background-color: #D8D8D8; 
}

#dashboard-container {
	width: 100%;
	border-right: 4px solid whitesmoke;
}

#container {
  min-height: 900px;
  width: 100%;
  position: absolute;
}

#simple3D {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 900px;

  div {
    min-height: 110%;
    width: 120%;
	}
  div.dot {
    background: url(../img/dot2.png);
    @include vendorize(filter, grayscale(100%)); 
    opacity: 0.2;
  }

}

section {
	height: 100%;
	width: 100%;
	position: relative;
}


#banner {
	background:url(../img/banner.jpg);
	background-size: cover;
	height: 80%;
	width: 80%; 

	// @include background-image(linear-gradient(to bottom right, white, #dddddd));

	position: relative;
	top: 20%;

	h1 {
		z-index: 2;
		font-family: 'Helvetica', serif; 
		font-weight: 900;
		font-size: 4rem;
		color: black;
		line-height: 75px;
		bottom: 10%;
		position: absolute;
		left: -8%;
		padding: 20px;
		background: white;


	}

}

.item {
	overflow:hidden;
	margin-bottom: 10px;
	margin-bottom: 0px;

	h6 {
		margin-top: 0;
	}
	height: 175px;
}




.section-overlay {
	top: -50%;
	position: relative;
	width: 100%;
	height: 350px;

	@include vendorize(transform, skew(-25deg));
	&:hover .item-description {
		@include vendorize(transform, translateX(65%));
	}

	&:hover {
		cursor: pointer;
	}
	// @include vendorize(opacity, 1);
	// top: 70%;
}

.item-overlay {
	@extend .section-overlay;
	top: -75%; 
}


.item-description {
	padding: 10px;

	// background-color: rgba(255, 255, 255, 0.8);
	background-color: $primary-color;
  z-index: 1;
  position: absolute;


  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include vendorize(transform, translateX(140%));
  @include vendorize(transition, transform 350ms ease-in-out);

  h6 {
  	color: black;
  	font-family: 'Lora', serif; 
  }

}	

.item-name {
	position: absolute;
  pointer-events: none;
  // text-align: center;
  top: 60%;
  left: 0;
  right: 30%;
  // background-color: rgba(117, 234, 204, 0.46);
  background-color: white;

  h3 {
  	padding: 5px 10px;
  	color: black;
  	font-family: 'Montserrat', sans-serif;
  	text-transform: uppercase; 
  }
}




