@import "compass";

.ticker {
	font-family: Helvetica; 
	font-size: 4rem; 
	z-index: 100;
	position: absolute;
	bottom: 10%;
	font-weight: 900;
	left: 5%;
}

section {
	height: 100%;
	width: 100%;
	position: relative;
}


#banner {
	background:url("http://i.imgur.com/6Gh8Za9.jpg");
	height: 80%;
	width: 80%; 

	@include background-image(linear-gradient(to bottom right, white, #dddddd));

	position: relative;
	top: 20%;

	h1 {
		font-family: 'Helvetica', serif; 
		font-weight: 900;
		font-size: 4rem;
		color: black;
		line-height: 60px;
		bottom: 10%;
		position: absolute;
		left: -5%;


	}

}


#highlights-row {
	height: 90%;
	padding-top: 10%;
	padding-left: 3%;
	padding-right: 3%;

	ul {
		height: 90%;

	}

	li {
		height: 30%;
		margin-bottom: 5%;
	}
}

#highlights-page h2 {
	margin-left: 10%;
	color: white;
}

#highlights-0 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#highlights-1 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#highlights-2 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#highlights-3 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#highlights-4 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#highlights-5 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#highlights-6 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#highlights-7 {
	background:url("http://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}