<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Your Life At UCLA | Daily Bruin</title>
        <meta name="description" content="Page description, shows up in search results. Should be no longer than 150-160 characters." />
        
        <!-- Open Graph -->
        <meta property="og:title" content="Your Life At UCLA | Daily Bruin" />
        <meta property="og:site_name" content="Daily Bruin Graduation Issue 2015" />
        <meta property="og:url" content="Canonical URL of this page, excluding session and user-identifying variables." />
        <meta property="og:image" content="URL to an image for this page. Should be at least 1200x630 pixels." />
        
        <!-- CSS -->

        <link href="../css/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="../css/life.css" rel="stylesheet" type="text/css" />
        
        <!-- JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="../js/vendor/jquery.js"></script>
        <script src="../js/googlesheet.js"></script>
        <script src="../js/life.js"></script>

        <!-- Templates -->
        <!-- template for single event -->
        <script id="event-card-template" type="text/template">
          <div id="<%= data.id %>" class="card panel">
              <h2 class="event-card-title"><%= data.title %></h2>
              <img src="<%= data.imageurl %>" />
              <p class="event-card-description"><%= data.description %></p>
          </div>
        </script>

        <!-- template for highlighting single number -->
        <script id="single-number-template" type="text/template">
          <div id="<%= data.id %>" class="card panel">
            <h4 class="pre-stat-text"><%= data.pretext %></h4>
            <div class="big-number-container">
              <h2 class="big-number"><%= data.singlestat %></h2>
            </div>
            <h4 class="post-stat-text"><%= data.posttext %></h4>
            <table>
              <tr>
                <% for (var i = 0; i < data.singlestat; i++) { %>
                  <td><img src="<%= data.imageurl %>" /></td>
                <% } %>
              </tr>
            </table>
          </div>
        </script>

        <!-- template for card with chart -->
        <script id="chart-template" type="text/template">
          <div id="<%= data.id %>" class="card panel">
            <h4 class="pre-stat-text"><%= data.pretext %></h4>
            <p class="long-number"><%= data.singlestat %></p>
            <h4 class="post-stat-text"><%= data.posttext %></h4>
            <div class="canvas-wrapper">
              <canvas id="<%= data.id %>-chart"></canvas>
            </div>

          </div>
        </script>
    </head>
    <body>
        <header></header>
        <main>
            <form method="GET">
              <div class="row">
                <div class="small-4 large-2 columns">
                  <label for="right-label" class="right inline">I entered UCLA in...</label>
                </div>
                <div class="small-4 large-2 columns"> 
                    <select name="start">
                      <option value="fall2009">Fall 2009</option>
                      <option value="fall2010">Fall 2010</option>
                      <option value="fall2011">Fall 2011</option>
                      <option value="fall2012">Fall 2012</option>
                      <option value="fall2013">Fall 2013</option>
                      <option value="fall2014">Fall 2014</option>
                    </select>
                </div>
                <div class="small-4 large-2 columns">
                    <input id="submit-button" type="submit" class="button" value="Go"></input>
                </div>

              </div>
            </form>

            <div class="row" id="ucla-events">
            <h1>Since you've been at UCLA...</h1>
                <div class="large-4 columns" id="ucla-events-left"></div>
                <div class="large-4 columns" id="ucla-events-mid"></div>
                <div class="large-4 columns" id="ucla-events-right"></div>
            </div>
        </main>
        <footer></footer>
    </body>
</html>