<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>Your Life At UCLA | Daily Bruin</title>
        <meta name="description" content="See what's changed since you first came to UCLA" />
        
        <!-- Open Graph -->
        <meta property="og:title" content="Your Life At UCLA | Daily Bruin" />
        <meta property="og:site_name" content="Daily Bruin Graduation Issue 2015" />
        <meta property="og:url" content="Canonical URL of this page, excluding session and user-identifying variables." />
        <meta property="og:image" content="http://dailybruin.com/images/2015/05/your-life-at-ucla.png" />
        
        <!-- CSS -->

        <link href="../css/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="../css/tooltipster.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/flexslider.min.css">
        <link href="../css/life.css" rel="stylesheet" type="text/css" />
        
        <!-- JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="../js/vendor/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.5.0/jquery.flexslider-min.js"></script>
        <script src="../js/googlesheet.js"></script>
        <script src="../js/jquery.tooltipster.min.js"></script>
        <script src="../js/life.js"></script>

        <!-- Templates -->
        <!-- template for single event -->
        <script id="event-card-template" type="text/template">
          <div id="<%= data.id %>" class="card panel">
              <h2 class="event-card-title"><%= data.title %></h2>
              <img src="<%= data.imageurl %>" />
              <p class="event-card-description">
                <span class="event-card-credits">(<%= data.credits %> / </span>
                <span class="event-card-date"><%= data.description %>)</span>
              </p>
          </div>
        </script>

        <!-- template for highlighting single number -->
        <script id="single-number-template" type="text/template">
          <div id="<%= data.id %>" class="card panel">
            <header>
              <a class="share-button share-button-<%= data.id %>" href="#"><div title="Share"></div></a>
              <div class="module_share module_share-<%= data.id %> large-4 medium-6 columns">
                <div class="share_this_on">Share this on:</div>
                  <ul>
                    <li><a class="share-icon share-icon-fb share-icon-<%= data.id %>" data-platform="facebook" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/facebook_icon.png" title="Share on Facebook" /></a></a></li>
                    <li><a class="share-icon share-icon-twitter share-icon-<%= data.id %>" data-platform="twitter" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/twitter_icon.png" title="Share on Twitter" /></a></li>
                    <li><a class="share-icon share-icon-gplus share-icon-<%= data.id %>" data-platform="gplus" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/gplus_icon.png" title="Share on Google+" /></a></li>
                  </ul>
              </div>
            </header>
            <h4 class="pre-stat-text"><%= data.pretext %></h4>
            <div class="big-number-container">
              <h2 class="big-number"><%= data.singlestat %></h2>
            </div>
            <h4 class="post-stat-text"><%= data.posttext %></h4>
            <table>
              <tr>
                <% _.each(data.rows, function(row, i) { %>
                   <td><a  class="tooltip-<%= data.id %>" title="<%= row.title %> | <% var d = new Date(row.date); print(d.getFullYear()); %>"><img src="<%= data.imageurl %>"/></a></td>
                <% }); %>
              </tr>
            </table>
          </div>
        </script>

        <!-- template for highlighting single large number. Icons wrap around on overflow -->
        <script id="single-number-template-wrap" type="text/template">
          <div id="<%= data.id %>" class="card panel">
            <header>
              <a class="share-button share-button-<%= data.id %>" href="#"><div title="Share"></div></a>
              <div class="module_share module_share-<%= data.id %> large-4 medium-6 columns">
                <div class="share_this_on">Share this on:</div>
                  <ul>
                    <li><a class="share-icon share-icon-fb share-icon-<%= data.id %>" data-platform="facebook" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/facebook_icon.png" title="Share on Facebook" /></a></a></li>
                    <li><a class="share-icon share-icon-twitter share-icon-<%= data.id %>" data-platform="twitter" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/twitter_icon.png" title="Share on Twitter" /></a></li>
                    <li><a class="share-icon share-icon-gplus share-icon-<%= data.id %>" data-platform="gplus" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/gplus_icon.png" title="Share on Google+" /></a></li>
                  </ul>
              </div>
            </header>
            <h4 class="pre-stat-text"><%= data.pretext %></h4>
            <div class="big-number-container">
              <h2 class="big-number"><%= data.singlestat %></h2>
            </div>
            <h4 class="post-stat-text"><%= data.posttext %></h4>
            <table>
              <tr>
                <td>
                <% _.each(data.rows, function(row, i) { %>
                   <a class="tooltip-<%= data.id %>" title="<%= row.title %> | <% var d = new Date(row.date); print(d.getFullYear()); %>"><img src="<%= row.imageurl %>"/></a>
                <% }); %>
                </td>
              </tr>
            </table>
          </div>
        </script>

        <!-- template for card with chart -->
        <script id="chart-template" type="text/template">
          <div id="<%= data.id %>" class="card panel">
            <header>
              <a class="share-button share-button-<%= data.id %>" href="#"><div title="Share"></div></a>
              <div class="module_share module_share-<%= data.id %> large-4 medium-6 columns">
                <div class="share_this_on">Share this on:</div>
                  <ul>
                    <li><a class="share-icon share-icon-fb share-icon-<%= data.id %>" data-platform="facebook" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/facebook_icon.png" title="Share on Facebook" /></a></a></li>
                    <li><a class="share-icon share-icon-twitter share-icon-<%= data.id %>" data-platform="twitter" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/twitter_icon.png" title="Share on Twitter" /></a></li>
                    <li><a class="share-icon share-icon-gplus share-icon-<%= data.id %>" data-platform="gplus" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/gplus_icon.png" title="Share on Google+" /></a></li>
                  </ul>
              </div>
            </header>
            <h4 class="pre-stat-text"><%= data.pretext %></h4>
            <p class="chart-number"><%= data.singlestat %></p>
            <h4 class="post-stat-text"><%= data.posttext %></h4>
            <% if (data.toggle) { %>
                <form>
                <div class="large-12 large-centered columns">
                  <input type="radio" name="inout" value="in" id="radio-in-state" checked="checked"><label for="in-state">Resident</label>
                  <input type="radio" name="inout" value="out" id="radio-out-state"><label for="out-state">Nonresident</label>
                </div>
                </form>
            <% } %>
            <div class="canvas-wrapper">
              <canvas <%= data.canvasheight %> id="<%= data.id %>-chart"></canvas>
            </div>
          </div>
        </script>
        
        <!-- template for card with chart -->
        <script id="movie-template" type="text/template">
         <div id="<%= data.id %>" class="card panel">
          <h2 class="movie-card-title"><%= data.title %></h2>
          <img src="<%= data.imgurl %>" />
          <span class="movie-card-description left"><%= data.credits %></span>
          <div>
          <table>
            <caption>Top 5 Grossing Movies</caption>
            <tr>
              <th>Year</th>
              <th>Title</th>
              <th>Domestic Gross</th>
            </tr>
            <% _.each(data.rows, function(movie, i) { %>
              <tr>
                <td><%= movie.category %></td>
                <td><em><%= movie.title.replace(/^"(.*)"$/, '$1') %></em></td>
                <td><%= movie.data %></td>
              </tr>
            <% }); %>
          </table>
          </div>
         </div>
        </script>

        <!-- Template for slideshow -->
        <script id="slideshow-template" type="text/template">
        <div id="<%= data.id %>" class="card panel">
          <h2><%= data.title %></h2>
          <div class="flexslider">
            <ul class="slides">
            <% _.each(data.rows, function(song) { %>
              <li>
              <img src="<%= song.imageurl %>" />
              <span><%= song.credits %> (<%= song.category %>)</span>
              </li>
            <% }); %>
            </ul>
          </div>
        </div>
        </script>

        <!-- template for custom -->
        <script id="custom-calculator" type="text/template">
        <div id="<%= data.id %>" class="card panel">
          <header>
            <a class="share-button share-button-<%= data.id %>" href="#"><div title="Share"></div></a>
            <div class="module_share module_share-<%= data.id %> large-4 medium-6 columns">
              <div class="share_this_on">Share this on:</div>
                <ul>
                  <li><a class="share-icon share-icon-fb share-icon-<%= data.id %>" data-platform="facebook" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/facebook_icon.png" title="Share on Facebook" /></a></a></li>
                  <li><a class="share-icon share-icon-twitter share-icon-<%= data.id %>" data-platform="twitter" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/twitter_icon.png" title="Share on Twitter" /></a></li>
                  <li><a class="share-icon share-icon-gplus share-icon-<%= data.id %>" data-platform="gplus" data-image="<%= data.share_image %>" data-text="<%= data.share_text %>"><img src="../img/life/gplus_icon.png" title="Share on Google+" /></a></li>
                </ul>
            </div>
            </header>
          <div>
          <form action="javascript:void(0);">
            <h5><%= data.question %></h5>
            <div class="row">
              <div class="large-12 small-centered columns">
                <div class="row collapse">
                  <div class="small-4 columns">
                    <input id="<%= data.id %>-input" type="text" placeholder="15">
                  </div>
                  <div class="small-4 left columns">
                    <a class="button postfix">Go</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p id="<%=data.id%>-content"></p>
              </div>
            </div>
          </form>
          </div>
        </div>
        </script>
    </head>
    <body>
        <!-- Facebook SDK -->
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '463141407187600',
              xfbml      : true,
              version    : 'v2.3'
            });
          };
          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));                
        </script>

        <header>
          
        </header>
        <main>
            <h1 id="page-title">Your Life At UCLA</h1>
            <form method="GET">
              <div class="row">
                <div class="small-4 large-2 large-offset-3 columns">
                  <label for="start">I came to UCLA in</label>
                </div>
                <div class="small-4 large-2 columns"> 
                    <select name="start" required>
                      <option value="fall2009">Fall 2009</option>
                      <option value="fall2010">Fall 2010</option>
                      <option value="fall2011" selected>Fall 2011</option>
                      <option value="fall2012">Fall 2012</option>
                      <option value="fall2013">Fall 2013</option>
                      <option value="fall2014">Fall 2014</option>
                    </select>
                </div>
                <div class="small-4 large-2 left columns">
                    <input id="submit-button" type="submit" class="button postfix" value="Go"></input>
                </div>
              </div>
            </form>

            <div class="row" id="ucla-events">
                <h2 class="category-header">Since you've been at UCLA...</h2>
                <div class="large-4 medium-6 columns" id="ucla-events-left"></div>
                <div class="large-4 medium-6 columns" id="ucla-events-mid"></div>
                <div class="large-4 medium-6 columns" id="ucla-events-right"></div>
            </div>

        </main>
        <footer></footer>
    </body>
</html>