#overlay img{
  width:100%;
  height:auto;

}
#overlay{
  margin-top:20px;
  margin-bottom: 17px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
html {
    background-image: url("./image/bg.png");
}
#descriptor p {
  margin-top: 15px;
}

p{
  
}
#layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 65px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  padding:3%;
}
.top{
  top:0px;
  position: absolute;
}
#banner{
  width:100%;
  top: 0px;
  z-index: -10;
  display: block;
}
.right {
  float:right;
}
.left{
  float: left;
}
.block-grid li{
text-align:center;
} 

ul a {
  position: relative;
  display: block;
}

li{
  overflow: hidden;
}
ul a img{
z-index:-1;
width: auto;
height: auto;
}

 a:hover .teaser {
  opacity: 1;
  }
 a:hover .mask {
  opacity: 1;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  opacity: 0;
  -moz-transition: opacity 0.25s, -moz-transform 0.25s;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
  -o-transition: opacity 0.25s, -o-transform 0.25s;
  transition: opacity 0.25s, transform 0.25s;
  }
  
  .teaser {
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
  color: white;
  font-size: 1em;
  text-align: center;
  text-shadow: 0 0 20px black;
  opacity: 0;
  font-family: 'proxima-nova', 'Helvetica', 'Avenir', 'Arial', sans-serif;
  -moz-transition: opacity 0.25s, -moz-transform 0.25s;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
  -o-transition: opacity 0.25s, -o-transform 0.25s;
  transition: opacity 0.25s, transform 0.25s;
}



[class*="block-grid-"]>li{

}
.flex-video{
  margin-left:1%;
  margin-right:1%;
  margin-bottom: 5%; 
}
#banner{
  padding:0;
}
#plate{
  padding: 1%;
}

footer {
  color: rgba(0,0,0, 0.7);
  padding: 8px 0 8px 0;
  font-size: 0.7em;
  clear: both;
  border-top: 1px solid rgba(0,0,0, 0.1);
  text-align: center;
}
#overlay{
  position: relative;
}

.middle li{
  text-align: center;
}
.article p::first-letter{
 font-size: 300%;
 float: left; 
 color: #D4D4C7;
 line-height: 35px;
 padding-top: 3px; 
 padding-right: 3px;
 font-family: Times, serif, Georgia;
}

.mug{
  margin-right:10%;
}
#profile-wrap{
  width:85%;
  margin-right: 5%;
  margin-left: 5%
}
#tagline{
  margin-top: 2%;
  margin-bottom: 2%;
}

#tagline h4{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 100;
  margin: 0px;
}
#tagline h1{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 300%;
  font-weight: 500;
   text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}


h1{
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
   margin: 0px;
}
}
.blurb{
  padding: 2%;
}
.blurb p{
  color:white;
}
.row{
  max-width: 100%;
  padding:1%;
}
.mugbar {
    float: left;
    width: 285px;
    text-align: center;
}

#descriptor{
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  border-top: 1px solid rgba(0,0,0, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.article {
  padding-left:7%;
  padding-right: 7%;
}

#descriptor h3 {
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    line-height: 1em;
    margin: 10px 0 0 0;
}

p {
    line-height: 1.4em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

}

.thumb img {
    padding: 0;
    border: 0;
    cursor: pointer;
}

.author {
    padding: 10px 0 0 0;
    font-weight: bold;
}

.bio {
    border-top: 1px solid rgba(0,0,0, 0.1);
    padding-top: 5px;
    font-style: italic;
    color: rgba(0,0,0, 0.7);
    font-size: 0.8em;
    margin: 5px 0 15px 0;
}

#content {
    padding-top: 20px;
}

.columns{
  padding-left: 0;
  padding-right: 0;
}

/* TOOLTIP */
span.tooltip {
      position: absolute;
      width: 115px;
      height: 14px;
      line-height: 14px;
      padding: 0px;
      font-size: 13px;
      text-align: center;
      color: rgb(255, 255, 255);
      background: rgba(0, 0, 0, 0.701961);
      border: 4px solid rgba(0, 0, 0, 0);
      border-radius: 4px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent rgba(0,0,0, 0.7) transparent;
      top: -14px;
      left: 52px;
}